<%= render :partial => "heading" %>
<%= render :partial => "upload_file" %>
<%= render :partial => "/shared/processing_upload_dialog" %>
   
<div class="content-section">
  <div class="items-minor-color long-heading"><h3>Template Items</h3></div>  

<% if @selected_event.nil? || @selected_event.id.nil? %>
  No event selected
<% elsif @selected_event.data_templates.size < 1 %>
  Selected event has no templates
<% elsif @selected_data_template.nil? %>
  No template selected.
<% elsif @selected_data_template.data_template_columns.size < 1 %>
  Selected template has no columns defined.
<% elsif ! @items.nil? && ! @items.empty? %>

  <% if @obj[:items_editable] %>
    <h5>Click an item value to edit. <br/>To save click enter, or click anywhere outside the field.</h5>
  <% else %>
    <h5>This event is closed, so you are no longer able to upload or edit items.</h5> 
  <% end %>

  <%= render :partial => "item_table" %>

<% else %>
  <p>There are no items in this template.</p>
  <%= link_to 'Click Here', {:controller => 'download' , :action => 'template_items_xls', :data_template_id => @selected_data_template.id} %>
  <p>to download an excel file template to add your items.  Use the <strong>Import</strong> link above in the header to upload your items.</p>
<% end %>
  
</div>

<% if @obj[:items_editable] %>
<script>
  $(document).ready(function(){
      $(document).ready(function(){
          $('.edit').bind('click', function(event){
              inline_edit_items(this, event.target.id);
          });
      });
  });
</script>   
<% end %>